/* add product and edit product form */
#formid {
    background-color:  #8DD5FF;
    border: 3px groove #000;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
    padding: 40px 5px 40px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* add product and edit product form labels */
#formid label {
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
}
/* add product and edit product form input fields */
#formid input {
    padding-left: 5px;
    padding-right: 5px;
}
/* add product and edit product form submit buttons */
.submit_button {
    background-color:#F9F3D6;
    width: 25%;
    margin: 10px 10px 0px 10px;
    padding: 7px 5px 7px 5px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #000;
}
